.bodyBox{
  width: 548px;
  height: 38.2vh;
  margin: 74px 100px
}

.innerBox{
  width: 274px;
  height: 246px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.iconName{
  color: #505050;
  font-size: 28px;
  margin: 22px 0 0 0;
}