.small,
.middle,
.large {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.small {
    height: 200px;
}

.middle {
    height: 300px;
}

.large {
    height: 400px;
}

.cardImage{
    width: 80%;
    height: 80%;
}